<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <title>Employee Operations</title>
    <!-- <link rel="stylesheet" href="../CSS/style.css" > -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">


</head>

<body>
    <h1>Employee Enrollment</h1>
    <section class="outer">

        <form action="/submit" method="post" class="was-validated">
            <label for="fname">First Name:</label>
            <input type="text" name="fname" id="fname" class="form-control" required>
            <!-- <div class="valid-feedback">Valid.</div> -->
            <div class="invalid-feedback">Please fill out first name.</div>
            
            <label for="lname">Last Name:</label>
            <input type="text" name="lname" id="lname" class="form-control" required>
            <!-- <div class="valid-feedback">Valid.</div> -->
            <div class="invalid-feedback">Please fill out last name.</div>
            
            <label for="dob">Date of Birth:</label>
            <input type="date" name="dob" id="dob" class="form-control" required>
            <!-- <div class="valid-feedback">Valid.</div> -->
            <div class="invalid-feedback">Please fill out date of birth.</div>
            
            <label for="salary">Salary:</label>
            <input type="number" name="salary" id="salary" class="form-control" required>
            <!-- <div class="valid-feedback">Valid.</div> -->
            <div class="invalid-feedback">Please fill salary.</div>
            
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <!-- <div class="valid-feedback">Valid.</div> -->
            <div class="invalid-feedback">Please fill your email.</div>
            
            <label for="phone">Phone:</label>
            <input type="tel" name="phone" id="phone" class="form-control" required>
            <!-- <div class="valid-feedback">Valid.</div> -->
            <div class="invalid-feedback">Please fill your mobile number.</div>
            
            <div class="button-div">
                <button type="submit">Enroll</button>
                <button class="button2"><a href="/reset" class="button2">Reset</a></button>
            </div>
        </form> 
        
        <!-- <hr> -->
        <div class="form-div">
            <div class="form-container">
                <form action="/search" method="post" class="form2">
                    <label for="search_field">Search By:</label>
                    <select name="search_field" id="search_field">
                        <option value="">-- Select Sorting Option --</option>
                        <option value="fname">First Name</option>
                        <option value="lname">Last Name</option>
                        <option value="dob">Date of Birth</option>
                        <option value="salary">Salary</option>
                        <option value="email">Email</option>
                        <option value="phone">Phone</option>
                    </select>
                    <label for="search_term" style="display: inline-block;">Search Term:</label>
                    <input type="text" name="search_term" id="search_term" class="input-label" required>
                    <br>
                    <!-- <button type="submit">Search</button> -->
                </form>
                <form action="/sort" method="get" class="form1" id="sortForm">
                    <label for="option">Sort by:</label>
                    <select name="option" id="option" onchange="document.getElementById('sortForm').submit()">
                        <option value="">-- Select Sorting Option --</option>
                        <option value="fname">First Name</option>
                        <option value="lname">Last Name</option>
                        <option value="dob">Date of Birth</option>
                        <option value="salary">Salary</option>
                        <option value="email">Email</option>
                        <option value="phone">Phone</option>
                    </select>
                    <!-- <button type="submit" style="cursor: pointer; padding: 2px 8px; font-size: 18px;">Sort</button> -->
                </form>
                <!-- <br> -->
            </div>
            <div class="table-div">
                <h2 style="text-decoration: dashed; background-color: #fafafa; padding: 5px 10px;">List of Employees
                </h2>
                <table>
                    <thead>
                        <tr>
                            <th><a href="/sort?option=fname">First name</a></th>
                            <th><a href="/sort?option=lname">Last name</a></th>
                            <th><a href="/sort?option=dob">Date of Birth</a></th>
                            <th><a href="/sort?option=salary">Salary</a></th>
                            <th><a href="/sort?option=email">Email</a></th>
                            <th><a href="/sort?option=phone">Phone</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for employee in employees %}
                        <tr>
                            <td>{{ employee.fname }}</td>
                            <td>{{ employee.lname }}</td>
                            <td>{{ employee.dob }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>{{ employee.email }}</td>
                            <td>{{ employee.phone }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>